<div style="text-align:center">
  <h1>
    {{ 'HOME.TITLE' | transloco }}
  </h1>
  <select
      [ngModel]="selectedLang"
      (ngModelChange)="selectLanguage($event)">
      <option value="es">
          {{ 'LANGUAGE.ES' | transloco }}
      </option>
      <option value="en">
          {{ 'LANGUAGE.EN' | transloco }}
      </option>
      <option value="eu">
        {{ 'LANGUAGE.EU' | transloco }}
    </option>
  </select>
</div>